{% extends 'shared/layout.html' %}
{%load static%}
{% block main %}
<h1 class="Display-4 mb-1">Third Parties</h1>

<div class="row">
    
        <h4>Clientes</h4>
        <table id="clientsList" class="table table-striped table-hover" style="width:100%"></table>
  
   
   
</div>
<hr>
<div class="row mt-1">
    
        <h4>Proveedores</h4>
        <table id="suppliersList" class="table table-striped table-hover" style="width:100%"></table>
    
</div>


{% endblock main %}

{%block scripts%}
<script>
    var dataClients     = "{{clientList|escapejs}}";
    var datasetClients  = JSON.parse(dataClients)
    
    var dataSuppliers    = "{{supplierList|escapejs}}";
    var datasetSuppliers   = JSON.parse(dataSuppliers)


    var url_upsertClient      = "{% url 'upsertclient' %}"
    var url_deleteClient      = "{% url 'deleteclient' %}"

    var url_upsertSupplier      = "{% url 'upsertsupplier' %}"
    var url_deleteSupplier     = "{% url 'deletesupplier' %}"
</script>
<script src="{% static 'js/site/thirdparties/thirdparties.js'  %}"></script>   

{%endblock scripts%}
