{% extends 'shared/layout.html' %}
{%load static%}
{%load crispy_forms_tags %}

{% block main %}
<h1 class="Display-4 mb-1">Cliente</h1>
<div class="row">
    
    <form action="{% url 'upsertclient' %}" method="POST" class="w-75">
        {% csrf_token %}
        {{ form.idCustomer }}
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    {{ form.Name| as_crispy_field}}
                </div>
            </div>
            
        </div>
       
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    {{ form.Country| as_crispy_field}}
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    {{ form.City| as_crispy_field}}
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    {{ form.Address| as_crispy_field}}
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    {{ form.ZipCode| as_crispy_field}}
                </div>
            </div>
        </div>
        <div class="row mt-1">
            <div class="col-md-6">
                <div class="form-group">
                    {{ form.Phone1| as_crispy_field}}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    {{ form.Phone2| as_crispy_field}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    {{ form.RFC| as_crispy_field}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <a href="{% url 'indexthirdparties' %}" class="btn btn-info">Regresar</a>
                </div>
            </div>
        </div>
        
    </form>
</div>

{% if formContact %}
<hr>
<div class="row">
   <div class="col-md-6">
       <h2 class="display-4">Contactos</h2>
       <form action="{% url 'upsertclient' %}" method="POST">
            {% csrf_token %}
            {{ formContact.idCliente }}
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        {{ formContact.Name| as_crispy_field}}
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        {{ formContact.Phone| as_crispy_field}}
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        {{ formContact.Email| as_crispy_field}}
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group mt-4">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </div>
            </div>
           
       </form>
   </div>
</div>
{% endif %}

{% endblock main %}

{% block scripts %}



{% endblock scripts %}

